<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
    <div id="content" class="px-1">
        <header th:replace="~{fragments :: header}"></header>
        <div class="container-fluid px-4 py-2">
            <p>
                Welcome to Peter's Petitions. Here you can view, sign and create your own petitions.
            </p>
            <p>
                Use the Nav bar at the top to access site functionality.
            </p>

        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-md-4 mb-4">
                    <a class="card petition-card py-5 index-links" href="create">
                        <div class="card-body">
                            <h5 class="card-title text-center">Create Petition</h5>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-4 mb-4">
                    <a class="card petition-card py-5 index-links" href="create">
                        <div class="card-body">
                            <h5 class="card-title text-center">List All Petitions</h5>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-4 mb-4">
                    <a class="card petition-card py-5 index-links" href="create">
                        <div class="card-body">
                            <h5 class="card-title text-center">Search for Petition</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>



    </div>
    <script th:replace="~{fragments :: footer}"></script>
</body>
</html>