<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
</head>
<body>
    <div id="content" class="px-1">
        <header th:replace="~{fragments :: header}"></header>
        <h4>All Petitions</h4>

        <h6 th:unless="${petitions} and ${petitions.size()}">no petitions available at this time</h6>

            <a th:each="petition : ${petitions}" class="petition-card card mt-3" th:href="@{__${depth}__view/__${petition.getUniqueTitle()}__}" >
                <div class="card-body">
                    <h5 class="card-title" th:text="${petition.getTitle()}"></h5>
                    <h6 class="card-subtitle" th:text="@{by __${petition.getAuthor().getName()}__}"></h6>
                    <p class="card-description"  th:text="${petition.getDescription()}"></p>
                </div>
                <div class="card-footer text-body-secondary" th:text="@{__${petition.getSignatures().size()}__ signatures}"></div>
            </a>

    </div>
<script th:replace="~{fragments :: footer}"></script>
</body>
</html>